CustomCoffeClient/Connected Services/CustomCoffeeServiceReference/CustomCoffeeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52352/Service/CustomCoffeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CustomCoffee" />
  <xs:element name="GibKunde">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CustomCoffee" minOccurs="0" name="pstrBenutzername" nillable="true" type="q1:Kunde" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GibKundeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CustomCoffee" minOccurs="0" name="GibKundeResult" nillable="true" type="q2:ArrayOfKunde" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GibMeineKreationen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GibMeineKreationenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CustomCoffee" minOccurs="0" name="GibMeineKreationenResult" nillable="true" type="q3:ArrayOfKreation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GibKreation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GibKreationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CustomCoffee" minOccurs="0" name="GibKreationResult" nillable="true" type="q4:Kreation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErstelleNeueKreation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pintBasis" type="xs:int" />
        <xs:element minOccurs="0" name="pintExtra1" type="xs:int" />
        <xs:element minOccurs="0" name="pintExtra2" type="xs:int" />
        <xs:element minOccurs="0" name="pintMilch" type="xs:int" />
        <xs:element minOccurs="0" name="pintTopping" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErstelleNeueKreationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CustomCoffee" minOccurs="0" name="ErstelleNeueKreationResult" nillable="true" type="q5:Kreation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ladeAlleZutaten">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ladeAlleZutatenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CustomCoffee" minOccurs="0" name="ladeAlleZutatenResult" nillable="true" type="q6:ArrayOfZutat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BerechneEntfernung">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BerechneEntfernungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BerechneEntfernungResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BestelleKreation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CustomCoffee" minOccurs="0" name="pKreation" nillable="true" type="q7:Kreation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BestelleKreationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CustomCoffee" minOccurs="0" name="BestelleKreationResult" nillable="true" type="q8:Auftrag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>